:root {
  --pokemon-yellow: #ffde00;
  --pokemon-blue: #3b4cca;
  --pokemon-red: #ff0000;
  --text-color: #fafafa;
  --text-color-dark: #282828;
  --primary-font: fira-sans, sans-serif;
  --secondary-font: roboto, sans-serif;
}
html {
  font-size: 16px;
}
@font-face {
  font-family: fira-sans;
  src: url("../fonts/FiraSans-Regular.ttf");
}
@font-face {
  font-family: roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}
h1,
h3,
li,
a {
  font-family: var(--primary-font);
  color: var(--pokemon-blue);
  letter-spacing: 1px;
  font-weight: 400;
}
.link__accent {
  color: var(--text-color);
  font-weight: normal;
}
h1 {
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 0.25px;
}
h2 {
  font-size: 1.5em;
  font-weight: 400;
  color: var(--pokemon-red);
  letter-spacing: 0.25px;
}
p {
  font-size: 1em;
  font-family: var(--secondary-font);
  font-weight: 400;
  color: var(--text-color);
}
.list-group-item {
  font-size: 1.1em;
  font-family: var(--primary-font);
  color: var(--text-color);
  background-color: var(--pokemon-blue);
  width: 200px;
}

/* Bootstrap overwrites */

.navbar-brand img {
  width: 100px;
}
.modal-title {
  color: var(--pokemon-blue);
  font-size: 1.5em;
}
.stats {
  font-family: var(--secondary-font);
  font-size: 0.9em;
  letter-spacing: 0.25px;
  color: var(--text-color-dark);
  padding: 1em 2em;
  border-radius: 5px;
  border-top: 2.5px solid var(--pokemon-yellow);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.12);
}
.modal-header,
.modal-footer {
  padding: 1em 2em;
}
