/* *===== VARIABLES =====* */
:root {
  --primary-color: #ffcb05;
  --secondary-color: #2d71b7;
  --text-color: #fafafa;
  --text-color-dark: #282828;
  --primary-font: fira-sans, sans-serif;
  --secondary-font: roboto, sans-serif;
}

/* *===== RESET =====* */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
li,
a {
  outline: none;
  list-style: none;
  text-decoration: none;
}

/* *==== FONTS =====* */
html {
  font-size: 16px;
}
@font-face {
  font-family: fira-sans;
  src: url("../fonts/FiraSans-Regular.ttf");
}
@font-face {
  font-family: roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}
h1,
h3,
li,
a {
  font-family: var(--primary-font);
  font-weight: bold;
  color: var(--primary-color);
}
.link__accent {
  color: var(--text-color);
  font-weight: normal;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
  color: var(--text-color);
}
p {
  font-size: 1em;
  font-family: var(--secondary-font);
  font-weight: lighter;
  color: var(--text-color);
}
.btn {
  font-size: 1.1em;
  font-family: var(--primary-font);
  color: var(--text-color-dark);
}

/* *===== PAGE LAYOUT =====* */
body {
  position: relative;
  min-height: 100vh;
  background-color: var(--secondary-color);
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: 75px 1fr 75px;
  grid-template-areas:
    ". header ."
    ". main ."
    ". footer .";
}
.header {
  grid-area: header;
}
.main {
  grid-area: main;
  justify-self: center;
}
.footer {
  grid-area: footer;
}

/* *===== HEADER *===== */
.logo__img {
  width: 6em;
}
.header {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  transition: 300ms all ease-in-out;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: var(--text-color);
  display: none;
}
.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: 100px;
}
.nav__list--item {
  text-align: center;
  width: 100%;
  padding: 1em;
}
.nav__list--link {
  color: var(--secondary-color);
  font-weight: bold;
}
.nav__list--item:hover,
.nav__list--item:focus {
  background-color: var(--primary-color);
}
.nav__list--item:hover a {
  color: #fafafa;
}
.shift {
  display: unset;
  position: fixed;
}

/* *===== HAMBURGER *===== */
.header__nav--link {
  letter-spacing: 1px;
  color: #ffffff;
}
.header__nav--link:hover,
.header__nav--link:focus {
  color: white;
  border-left-color: #ffffff;
  font-weight: bold;
}
.hamburger {
  z-index: 9999;
}
.hamburger:hover {
  cursor: pointer;
}
.hamburger span {
  display: block;
  background: var(--primary-color);
  margin: 6px 0;
  height: 6px;
  width: 36px;
  border-radius: 2px;
  position: relative;
  transition: all 200ms ease-in-out;
}
.change.first-bar {
  background: var(--secondary-color);
  top: 11px;
  transform: rotate(45deg);
}
.change.second-bar {
  opacity: 0;
  background: var(--secondary-color);
}
.change.third-bar {
  background: var(--secondary-color);
  bottom: 13px;
  transform: rotate(-45deg);
}

/* *===== MAIN CONTENT *===== */
.main__heading {
  width: fit-content;
  height: fit-content;
  text-align: center;
  margin: 2em auto;
}
.btn {
  padding: 1em 2em;
  margin: 0.1em 0;
  text-align: center;
  text-decoration: none;
  outline: none;
  display: inline-block;
  transition-duration: 0.25s;
  cursor: pointer;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  width: 100%;
}
.btn:hover,
.logo:hover {
  transform: scale(1.05);
}

/* *===== FOOTER =====* */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* *===== MEDIA QUERIES =====* */
@media all and (min-width: 700px) {
  html {
    font-size: 17px;
  }
  .body {
    grid-template-columns: 100px 1fr 100px;
  }
  .header__nav {
    display: block;
    position: unset;
    height: unset;
    background-color: var(--secondary-color);
    width: unset;
    padding: unset;
  }
  .nav__list {
    margin-top: unset;
    flex-direction: row;
  }
  .nav__list--item {
    border-bottom: 3px solid transparent;
    padding: 0.5em 1em;
  }
  .nav__list--item:hover,
  .nav__list--item:focus {
    background-color: unset;
    border-bottom-color: var(--text-color);
  }
  .nav__list--link {
    color: var(--primary-color);
  }
  .nav__list--link:hover,
  .nav__list--link:focus {
    color: var(--primary-color);
    border-left-color: var(--primary-color);
  }
  .hamburger {
    display: none;
  }
}
@media all and (min-width: 1020px) {
  html {
    font-size: 18px;
  }
  .body {
    grid-template-columns: 100px 1fr 100px;
  }
}
@media all and (min-width: 1440px) {
  html {
    font-size: 18px;
  }
  .body {
    grid-template-columns: 150px 1fr 150px;
  }
}
@media all and (min-width: 1800px) {
  html {
    font-size: 20px;
  }
  .body {
    grid-template-columns: 200px 1fr 200px;
  }
}
@media all and (min-width: 2200px) {
  html {
    font-size: 22px;
  }
  .body {
    grid-template-columns: 250px 1fr 250px;
  }
}
