/* *===== VARIABLES =====* */
:root {
  --pokemon-yellow: #ffde00;
  --pokemon-blue: #3b4cca;
  --pokemon-red: #ff0000;
  --text-color: #fafafa;
  --text-color-dark: #282828;
  --primary-font: fira-sans, sans-serif;
  --secondary-font: roboto, sans-serif;
}

/* *===== RESET =====* */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
li,
a {
  outline: none;
  list-style: none;
  text-decoration: none;
}

/* *==== FONTS =====* */
html {
  font-size: 16px;
}
@font-face {
  font-family: fira-sans;
  src: url("../fonts/FiraSans-Regular.ttf");
}
@font-face {
  font-family: roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}
h1,
h3,
li,
a {
  font-family: var(--primary-font);
  color: var(--pokemon-yellow);
  letter-spacing: 1px;
  font-weight: 400;
}
.link__accent {
  color: var(--text-color);
  font-weight: normal;
}
h1 {
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 0.25px;
}
h2 {
  font-size: 1.5em;
  font-weight: 400;
  color: var(--text-color);
  letter-spacing: 0.25px;
}
p {
  font-size: 1em;
  font-family: var(--secondary-font);
  font-weight: 400;
  color: var(--text-color);
}
.btn {
  font-size: 1.1em;
  font-family: var(--primary-font);
  color: var(--text-color-dark);
}

/* *===== PAGE LAYOUT =====* */
body {
  position: relative;
  min-height: 100vh;
  background-color: var(--pokemon-blue);
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: 75px 1fr 75px;
  grid-template-areas:
    ". header ."
    ". main ."
    ". footer .";
}
.header {
  grid-area: header;
}
.main {
  grid-area: main;
  justify-self: center;
}
.footer {
  grid-area: footer;
}

/* *===== HEADER *===== */
.logo__img {
  width: 6em;
}
.header {
  background-color: var(--pokemon-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  transition: 300ms all ease-in-out;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: var(--text-color);
  display: none;
}
.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: 100px;
}
.nav__list--item {
  text-align: center;
  width: 100%;
  padding: 1em;
}
.nav__list--link {
  color: var(--pokemon-blue);
}
.nav__list--item:hover,
.nav__list--item:focus {
  background-color: var(--pokemon-yellow);
}
.nav__list--item:hover a {
  color: var(--text-color);
}
.shift {
  display: unset;
  position: fixed;
}

/* *===== HAMBURGER *===== */
.header__nav--link {
  letter-spacing: 1px;
  color: #ffffff;
}
.header__nav--link:hover,
.header__nav--link:focus {
  color: white;
  border-left-color: #ffffff;
  font-weight: bold;
}
.hamburger {
  /* Needs to stay below modal */
  z-index: 10;
}
.hamburger:hover {
  cursor: pointer;
}
.hamburger span {
  display: block;
  background: var(--pokemon-yellow);
  margin: 6px 0;
  height: 6px;
  width: 36px;
  border-radius: 2px;
  position: relative;
  transition: all 200ms ease-in-out;
}
.change.first-bar {
  background: var(--pokemon-blue);
  top: 11px;
  transform: rotate(45deg);
}
.change.second-bar {
  opacity: 0;
  background: var(--pokemon-blue);
}
.change.third-bar {
  background: var(--pokemon-blue);
  bottom: 13px;
  transform: rotate(-45deg);
}

/* *===== MAIN CONTENT *===== */
.main__heading {
  width: fit-content;
  height: fit-content;
  text-align: center;
  margin: 2em auto;
}
.btn {
  padding: 1em 2em;
  margin: 0.1em 0;
  text-align: center;
  text-decoration: none;
  outline: none;
  display: inline-block;
  transition-duration: 0.25s;
  cursor: pointer;
  background-color: var(--pokemon-yellow);
  border: none;
  border-radius: 5px;
  width: 100%;
}
.btn:hover,
.logo:hover {
  transform: scale(1.05);
}

/* ===== MODAL ===== */
.modal__container {
  display: none;
}
.modal__container--active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: auto;
  display: grid;
}
.modal {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border: none;
  border-top: 3px solid var(--pokemon-red);
  border-radius: 5px;
  padding: 1em;
  width: fit-content;
  height: fit-content;
  max-width: 700px;
  max-height: 700px;
}
.modal__title {
  color: var(--pokemon-blue);
  font-family: var(--primary-font);
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 0.5em;
}
.modal__content {
  max-width: 100%;
  min-height: 150px;
  max-height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  align-items: center;
  padding: 1em;
  gap: 1.5em;
}
.modal__img {
  width: 100%;
  max-width: 100%;
}
.modal__text {
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  padding: 1em;
  background-color: #fff;
  border: none;
  border-top: 3px solid var(--pokemon-yellow);
  border-radius: 5px;
  box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.075);
  font-size: 0.8em;
  color: var(--text-color-dark);
  letter-spacing: 1px;
  line-height: 1.25em;
}
.modal__btn {
  background-color: inherit;
  width: fit-content;
  align-self: flex-end;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 300ms;
  color: var(--text-color-dark);
  padding: 0;
  margin: 0;
}
.modal__btn:hover {
  color: var(--pokemon-red);
}
.modal__btn--icon {
  font-size: 2em;
}

/* *===== FOOTER =====* */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* *===== MEDIA QUERIES =====* */
@media all and (min-width: 700px) {
  html {
    font-size: 17px;
  }
  .body {
    grid-template-columns: 100px 1fr 100px;
  }
  .header__nav {
    display: block;
    position: unset;
    height: unset;
    background-color: var(--pokemon-blue);
    width: unset;
    padding: unset;
  }
  .nav__list {
    margin-top: unset;
    flex-direction: row;
  }
  .nav__list--item {
    padding: 0.5em 1em;
  }
  .nav__list--item:hover,
  .nav__list--item:focus {
    background-color: unset;
  }
  .nav__list--link {
    color: var(--text-color);
  }
  .hamburger {
    display: none;
  }
}
@media all and (min-width: 1020px) {
  html {
    font-size: 18px;
  }
  .body {
    grid-template-columns: 100px 1fr 100px;
  }
}
@media all and (min-width: 1440px) {
  html {
    font-size: 18px;
  }
  .body {
    grid-template-columns: 150px 1fr 150px;
  }
}
@media all and (min-width: 1800px) {
  html {
    font-size: 20px;
  }
  .body {
    grid-template-columns: 200px 1fr 200px;
  }
}
@media all and (min-width: 2200px) {
  html {
    font-size: 22px;
  }
  .body {
    grid-template-columns: 250px 1fr 250px;
  }
}
