/* ===== VARIABLES ===== */
:root {
  --pokemon-yellow: #ffde00;
  --pokemon-blue: #3b4cca;
  --pokemon-red: #ff0000;
  --primary-font: fira-sans, sans-serif;
  --secondary-font: roboto, sans-serif;
}
/* ===== FONTS ===== */
@font-face {
  font-family: fira-sans;
  src: url("../fonts/FiraSans-Regular.ttf");
}
@font-face {
  font-family: roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}
h1 {
  font-family: var(--primary-font);
  font-size: 2em;
  color: var(--pokemon-blue);
}
h2 {
  font-family: var(--secondary-font);
  font-size: 1.25em;
}
h3 {
  font-family: var(--primary-font);
  font-size: 1em;
}

li,
a {
  font-family: var(--primary-font);
  color: var(--pokemon-blue);
}
h4,
h5,
h6 {
  font-family: var(--secondary-font);
}
h2 {
  font-family: var(--secondary-font);
  color: var(--pokemon-red);
}
p {
  font-family: var(--secondary-font);
}
/* The pokemon buttons as they appear on main page */
.list-group-item {
  width: 200px;
  font-family: var(--primary-font);
  background-color: var(--pokemon-blue);
}

/* ===== GENERAL ===== */
body {
  background-color: var(--pokemon-yellow);
  position: relative;
}

/* ===== SCROLL TO TOP BUTTON ===== */
#scrollBtn {
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 32px;
  background-color: var(--pokemon-red);
  z-index: 99;
}

/* ===== NAVBAR OVERWRITES ===== */
.navbar {
  background-color: var(--pokemon-blue);
}
.navbar-brand img {
  width: 100px;
}

/* ===== MODAL OVERWRITES ===== */
.modal-title {
  color: var(--pokemon-blue);
}

/* ===== POKEMON MODAL ===== */
#modalHeaderPokemon {
  background-color: var(--pokemon-yellow);
}
#modalTitle {
  font-size: 24px;
}
#modalCloseBtn {
  color: red;
  opacity: 0.75;
  font-size: 1.5em;
}
#modalCloseBtn:hover,
#modalCloseBtn:focus {
  opacity: 1;
}
.card {
  font-size: 14px;
}
.card-header#statsHeader {
  background-color: var(--pokemon-blue);
}
.card-header#abilitiesHeader {
  background-color: var(--pokemon-red);
}
.card-body {
  color: var(--pokemon-blue);
}

/* ===== CONTACT FORM MODAL ===== */
#modalTitleForm {
  font-size: 1.25em;
}
.modal-header-contact {
  background-color: var(--pokemon-blue);
}
.modal-subtitle-contact {
  color: var(--pokemon-blue);
  font-size: 1.2em;
}
textarea {
  resize: vertical;
  min-height: 100px;
}
form .btn {
  background-color: var(--pokemon-blue);
}
#name:focus,
#email:focus,
#message:focus {
  background-color: var(--light);
}
#submit:hover {
  opacity: 0.9;
}

/* ===== FOOTER ===== */
/* ///// TODO (positioning) ///// */

/* OVERWRITES USING !IMPORTANT */
button {
  outline: none !important;
  box-shadow: none !important;
}
main {
  max-width: 300px !important;
}
